{% extends 'layouts/base.html' %}
{% load static %}


{% block body %}
<div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center about-us-content">
        <h2>About Us</h2>
        <p>Nullam nec tortor magna. Vivamus accumsan massa vitae metus vulputate, eget dictum lorem varius. Duis vehicula tellus et eros gravida, id eleifend eros tempor.</p>
      </div>
    </div>
  </div>
<div class="text-center">
    <img src="{% static 'books/images/iti.jpeg'%}" style="width:500px; height:250px">
</div>
{% endblock %}