{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <h2>Add New Book </h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" >
      </div>
        <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" name='price' class="form-control" >
      </div>
        <div class="mb-3">
        <label class="form-label">Pages</label>
        <input type="number" name='no_pages' class="form-control" >
        <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" name='author' class="form-control" >
      </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Image</label>
        <input type="file" name='image' class="form-control" >
      </div>
      <div class="text-center mb-2">
      <button type="submit" class="btn btn-primary">Add Book</button>
        </div>
    </form>
</div>
{% endblock %}