{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
        <div class="card  align-items-center" >
          <img src="{% static 'books/images/'%}{{ book.image }} " class="gx-0" style="height: 300px" alt="...">
          <div class="card-body">
            <h5 class="card-title">Title: {{book.title}}</h5>
            <p class="card-text">Pages: {{book.no_pages}}</p>
            <p class="card-text">Price: {{book.price}}</p>
            <p class="card-text">Author: {{book.author}}</p>
          </div>
        </div>
{% endblock %}